@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: whitesmoke;
}

/* Additional styles */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.popup-animation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  padding: 16px;
  border-radius: 8px;
  opacity: 0;
  z-index: 9999;
}

.popup-animation.fade-in,
.popup-animation.fade-out {
  transition: opacity 1s ease-in-out;
}

.popup-animation.show {
  opacity: 1;
}